In [1]:
import pandas as pd
from pathlib import Path

import nltk
from nltk.sentiment.vader import SentimentIntensityAnalyzer

from nltk.corpus import reuters, stopwords
from nltk.tokenize import word_tokenize, sent_tokenize

from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
from string import punctuation
import re


%matplotlib inline

In [2]:
def remove_url(text):
    return re.sub(r'http\S+','',text)

In [3]:
apple_tweet_data = Path('../Tweet-Data/apple_tweets.csv')

apple_tweet = pd.read_csv(apple_tweet_data, index_col = "Date" , encoding='iso-8859-1')

#apple_tweet['Tweet content'] = apple_tweet['Tweet content'].apply(remove_url)

#apple_tweet['Tweet content'].drop_duplicates(inplace=True)

In [4]:
amzn_tweet_data = Path('../Tweet-Data/amzn_tweets.csv')

amzn_tweet = pd.read_csv(amzn_tweet_data, index_col = "Date" , encoding='iso-8859-1')

#amzn_tweet['Tweet content'] = amzn_tweet['Tweet content'].apply(remove_url)

#amzn_tweet['Tweet content'].drop_duplicates(inplace=True)

In [20]:
ntflx_tweet_data = Path('../Tweet-Data/ntflx_tweets.csv')

ntflx_tweet = pd.read_csv(ntflx_tweet_data, index_col = "Date" , encoding='iso-8859-1')

#ntflx_tweet['Tweet content'] = ntflx_tweet['Tweet content'].apply(remove_url)

#ntflx_tweet['Tweet content'].drop_duplicates(inplace=True)

In [21]:
nltk.download('vader_lexicon')

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\welcome\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

True

In [22]:
analyzer = SentimentIntensityAnalyzer()

In [23]:
sentiments = []

for tweets in apple_tweet["Tweet content"]:
    try:
        text = tweets
        res = analyzer.polarity_scores(tweets)
        comp = res["compound"]
        pos = res["pos"]
        neu = res["neu"]
        neg = res["neg"]
        
        sentiments.append({
           "text": text,
            "compound": comp,
            "pos": pos,
            "neu": neu,
            "neg": neg
                        })
    except AttributeError:
        pass
    
tweet_apple_df = pd.DataFrame(sentiments)

print(tweet_apple_df.shape)

(166631, 5)

In [24]:
print(tweet_apple_df.shape)

(166631, 5)

In [25]:
print(apple_tweet.shape)

(166631, 25)

In [26]:
apple_df_total = pd.DataFrame(sentiments,apple_tweet.index)

In [27]:
apple_df_total = apple_df_total.reset_index()

In [28]:
apple_mean_by_date_compound = apple_df_total[["Date","compound"]].groupby("Date").mean()
apple_mean_by_date_positive = apple_df_total[["Date","pos"]].groupby("Date").mean()
apple_mean_by_date_negative = apple_df_total[["Date","neg"]].groupby("Date").mean()
apple_mean_by_date_neutral = apple_df_total[["Date","neu"]].groupby("Date").mean()


apple_df_summary  = pd.concat([apple_mean_by_date_compound, apple_mean_by_date_positive, 
                             apple_mean_by_date_negative, apple_mean_by_date_neutral], axis =1)

In [29]:
apple_df_summary.to_csv(r'../Merged_data/aapl_sentiment.csv', index = True)
apple_df_summary.head()

            compound       pos       neg       neu
Date
2016-04-02  0.121392  0.071743  0.016247  0.912007
2016-04-03  0.069846  0.057949  0.030341  0.911701
2016-04-04  0.076840  0.053611  0.019177  0.927213
2016-04-05  0.074800  0.064579  0.034857  0.900562
2016-04-06  0.123945  0.080751  0.031382  0.887874

In [30]:
sentiments_amzn = []

for tweets in amzn_tweet["Tweet content"]:
    try:
        text = tweets
        res = analyzer.polarity_scores(tweets)
        comp = res["compound"]
        pos = res["pos"]
        neu = res["neu"]
        neg = res["neg"]
        
        sentiments_amzn.append({
           "text": text,
            "compound": comp,
            "pos": pos,
            "neu": neu,
            "neg": neg
                        })
    except AttributeError:
        pass
    
tweet_amzn_df = pd.DataFrame(sentiments_amzn)

In [31]:
amzn_df_total = pd.DataFrame(sentiments_amzn,amzn_tweet.index)

In [32]:
amzn_df_total = amzn_df_total.reset_index()

In [33]:
amzn_mean_by_date_compound = amzn_df_total[["Date","compound"]].groupby("Date").mean()
amzn_mean_by_date_positive = amzn_df_total[["Date","pos"]].groupby("Date").mean()
amzn_mean_by_date_negative = amzn_df_total[["Date","neg"]].groupby("Date").mean()
amzn_mean_by_date_neutral = amzn_df_total[["Date","neu"]].groupby("Date").mean()


amzn_df_summary  = pd.concat([amzn_mean_by_date_compound, amzn_mean_by_date_positive, 
                             amzn_mean_by_date_negative, amzn_mean_by_date_neutral], axis =1)

In [34]:
amzn_df_summary.to_csv(r'../Merged_data/amzn_sentiment.csv', index = True)
amzn_df_summary.head()

            compound       pos       neg       neu
Date
2016-03-31  0.093505  0.071352  0.023818  0.904825
2016-04-01  0.062275  0.066623  0.032291  0.901091
2016-04-02  0.161957  0.097770  0.028404  0.873837
2016-04-03  0.173476  0.097920  0.016613  0.885462
2016-04-04  0.040698  0.026815  0.007868  0.965318

In [40]:
sentiments_ntflx = []

for tweets in ntflx_tweet["Tweet content"]:
    try:
        text = tweets
        res = analyzer.polarity_scores(tweets)
        comp = res["compound"]
        pos = res["pos"]
        neu = res["neu"]
        neg = res["neg"]
        
        sentiments_ntflx.append({
           "text": text,
            "compound": comp,
            "pos": pos,
            "neu": neu,
            "neg": neg
                        })
    except AttributeError:
        pass
    
tweet_ntflx_df = pd.DataFrame(sentiments_ntflx)

In [41]:
ntflx_df_total = pd.DataFrame(sentiments_ntflx,ntflx_tweet.index)

In [42]:
ntflx_df_total = ntflx_df_total.reset_index()

In [43]:
ntflx_mean_by_date_compound = ntflx_df_total[["Date","compound"]].groupby("Date").mean()
ntflx_mean_by_date_positive = ntflx_df_total[["Date","pos"]].groupby("Date").mean()
ntflx_mean_by_date_negative = ntflx_df_total[["Date","neg"]].groupby("Date").mean()
ntflx_mean_by_date_neutral = ntflx_df_total[["Date","neu"]].groupby("Date").mean()


ntflx_df_summary  = pd.concat([ntflx_mean_by_date_compound, ntflx_mean_by_date_positive, 
                             ntflx_mean_by_date_negative, ntflx_mean_by_date_neutral], axis =1)

In [44]:
ntflx_df_summary.to_csv(r'../Merged_data/ntflx_sentiment.csv', index = True)
ntflx_df_summary.head()

            compound       pos       neg       neu
Date
2016-03-31  0.067721  0.058324  0.042858  0.898804
2016-04-01  0.130846  0.091245  0.032268  0.876489
2016-04-02  0.114563  0.079826  0.033689  0.886470
2016-04-03  0.107733  0.061897  0.019127  0.918984
2016-04-04  0.086935  0.058046  0.032122  0.909836

In [45]:
amzn_df_summary.head()

            compound       pos       neg       neu
Date
2016-03-31  0.093505  0.071352  0.023818  0.904825
2016-04-01  0.062275  0.066623  0.032291  0.901091
2016-04-02  0.161957  0.097770  0.028404  0.873837
2016-04-03  0.173476  0.097920  0.016613  0.885462
2016-04-04  0.040698  0.026815  0.007868  0.965318

In [46]:
apple_df_summary.head()

            compound       pos       neg       neu
Date
2016-04-02  0.121392  0.071743  0.016247  0.912007
2016-04-03  0.069846  0.057949  0.030341  0.911701
2016-04-04  0.076840  0.053611  0.019177  0.927213
2016-04-05  0.074800  0.064579  0.034857  0.900562
2016-04-06  0.123945  0.080751  0.031382  0.887874

In [ ]:
appl_df_summary["netsentiment"] = apple_df_summary["pos"]